* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: url('../assets/cursor.png'),auto;
    transition: all 0.5s
}
/* * {border:1px solid red} */
.first-page-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    transition: background-color 0.3s ease-in-out;
    position: fixed;
    bottom: 3%;
    left: 3%;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
    border: 1px solid black;
    text-decoration: none;
    font-family: Oswald;
    font-size: 15px;
}
.first-page-btn:hover {
    background-color: #504E4E;
}
#section-1 {
    cursor: url('../assets/cursor-light.png'),auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 63vh;
    box-shadow:  -18px 5px 98px 32px rgba(0, 0, 0, 0.86) inset;;
    background-image: /*linear-gradient(91deg, rgba(0, 0, 0, 1) 13%, rgba(241, 235, 235, 0.02) 22%), */url(../assets/welcome-image.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}
nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 12%;
    padding-top: 3%;
    cursor: url('../assets/cursor-light.png'),auto;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    cursor: url('../assets/cursor-light.png'),auto;
}
li {
    list-style-type: none;   
}
li a {
    
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 20px; */
    letter-spacing: 1.9px;
    text-align: left;
    text-decoration: none;
    position: relative;
    color: white;
    cursor: pointer;
}
.underline {
    background-color: #4CAF50;
    display: block;
    position: absolute;
    bottom: 1%;
    right: 0;
    width: 15px;
    height: 2px
}
.active-nav-item {
    width: 100%;
}
.header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.header h1 {
    font-family: Oswald;
    font-size: 69px;
    font-weight:500;
    margin: 0;
    letter-spacing: 4px;
    text-wrap: wrap;
    color: white;
    letter-spacing: 4.6px;
    text-align: center;
    cursor: url('../assets/cursor-light.png'),auto;
}
.header p {
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    letter-spacing: 3.28px;
    color: white;
    text-align: center;
    cursor: url('../assets/cursor-light.png'),auto;
}
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 7px;
    cursor: url('../assets/cursor-light.png'),auto;
}
.pagination-item p {
    font-family: Oswald;
    color: rgba(255, 255, 255, 0.44);
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    cursor: pointer;
}
.active-pagination-item > p {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-decoration: line-through;
    text-decoration-color: #4CAF50;
    text-decoration-thickness: 2px;
}
#section-2 {
    display: flex;
    flex-direction: column;
    width: 71%;
    height: 50vh;
    margin: auto;
    position: relative;
    margin-top: 13%;
    margin-bottom: 6%;
}
.about-us-we-are {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 337px;
    /* height: 400; */
    background-image: url(../assets/man-face-large.svg);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-position-x: 80%;
    z-index: 1;
    top: 5%;
    left: 8%;
}
.about-us-we-are h2 {
    z-index: 2;
    font-family: Oswald;
    color: #333;
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 60px; */
    letter-spacing: 2.3px;
}
.about-us-we-are h4 {
    z-index: 2;
    color: #504E4E;
    font-family: OpenSans;
    font-size: 56px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 32px;
    letter-spacing: 2.5px;
}
.about-us-we-are p {
    font-family: OpenSans;
    letter-spacing: 1.25px;
    width: 281px;
    color: #5B5858;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    /* line-height: 25px;  */
    letter-spacing: 1.26px;
    margin-bottom: 10%;
}
.green-box {
    position: absolute;
    top: 13%;
    left: 34%;
    background-color: #4CAF50;
    z-index: 0;
    width: 24%;
    height: 58%;
    opacity: 0.8;
}
.about-us-background {
    z-index: -1;
    position: absolute;
    top: 25%;
    left: 51%;
    width: 39%;
    height: 60%;
    background-image: url(../assets/man-full-frame.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}
.about-us-background p {
    font-family: OpenSans;
    letter-spacing: 1.25px;
    width: 281px;
    color: #5B5858;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    /* line-height: 25px;  */
    letter-spacing: 1.26px;
    margin-bottom: 10%;
}
#section-3 {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: auto;
    
    background-color: rgba(251, 251, 251, 1);
}
.our-services {
    display: flex;
    flex-direction: column;
    width: 71%;
    height: 100%;
    margin: 8% auto;
    gap: 55px;

}
.services-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: max-content;
}
.services-header h2,
.works-4-header h2,
.team-5-header h2 {
    font-family: Oswald;
    color: #333;
    font-size: 74px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 60px; */
    letter-spacing: 2.3px;
    padding-left: 5%;
    text-wrap: nowrap;
}
.underline-header {
    position: absolute;
    background-color: rgba(37, 37, 37, 1);
    display: block;
    bottom: 1%;
    left: 6%;
    width: 16%;
    height: 2px;
}
.active-header-underline {
    background-color: #4CAF50;
    width: 100%;
}
.services-container {
    display: flex;
    width: 100%;
    height: 60%;
    gap: 2%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.services-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25%;
    height: 260px;
    padding: 3%;
    justify-content: space-around;
    margin-top: 2%;
}
.service-card-header {
    display: flex;
    justify-content: space-between;
}
.service-card-header h4 {
    font-family: Oswald;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.28px;
    text-align: left;
    color: rgba(37, 37, 37, 1);
    position: relative;
}
.service-card-icon {
    background-image: url(../assets/graphic-design.png);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* box-shadow: 0px 0px 20px #DBDBDB; */
    filter: opacity(0.5);
}
.underline-service-card-header {
    position: absolute;
    background-color: rgba(37, 37, 37, 1);
    display: block;
    bottom: 19%;
    left: 1%;
    width: 46%;
    height: 1px;
    transition: all 0.5s;
}
.active-underline-service-card-header {
    background-color: #4CAF50;
    width: 100%;

}
.development-icon {
    background-image: url(../assets/coding.png);
}
.design-icon {
    background-image: url(../assets/pencil-case.png);
}
.active-icon {
    filter: opacity(1);
}
.services-card > p:first-of-type {
    font-family: OpenSans;
    font-size: 12px;
    /* line-height: 25px; */
    text-align: left;
    color: rgba(119, 119, 119, 1);
}
.services-card > p:last-of-type {
    font-family: Oswald;
    font-size: 10px;
    font-weight: 300;
    /* line-height: 14px; */
    letter-spacing: 0.64px;
    text-align: left;
    cursor: pointer;
}
.services-card > p:last-of-type:hover {
    /* font-size: 12px; */
    font-weight: 500;
}
#section-4 {
    display: flex;
    width: 100%;  
}
.works-4-left-box,
.works-4-right-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 500px;
}
.works-4-header-box {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
    margin-bottom: 26%;   
}
.works-container {
    display: flex;
    width: 71%;
    margin: 8% auto;
    flex-wrap: wrap;
}
.works-menu {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding-left: 5%;
}
.works-menu p {
    font-family: OpenSans;
    font-size: 13px;
    letter-spacing: 0.8px;
    text-align: left;
    color: rgba(37, 37, 37, 1);
    opacity: 30%;
    cursor: pointer;
}
.works-menu > p:hover {
    opacity: 1;
}
.works-4-header {
    position: relative
}
#active-works-menu-item {
    opacity: 1;
}
.works-card {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    height: 596px;
    width: 583px;
    justify-content: center;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: 1%;
    background-position-y: 1%;
    margin-bottom: 17%;    
}
.works-card:hover {
    background-size: 82%;
}
.works-card-description {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.works-card h5 {
    font-family: OpenSans;
    font-size: 18px;
    /* line-height: 21px; */
    text-align: left;
    font-weight: 300;
    letter-spacing: 1.15px;
    color: rgba(37, 37, 37, 1);   
}
.works-card p:first-of-type {
    font-family: OpenSans;
    font-size: 13px;
    /* line-height: 23px; */
    letter-spacing: 0.8px;
    text-align: left;
    color: rgba(194, 194, 194, 1);
}
.works-card p:last-of-type {
    font-family: OpenSans;
    font-size: 13px;
    /* line-height: 15px; */
    letter-spacing: 0.8px;
    text-align: left;
    color: rgba(37, 37, 37, 1);
    cursor: pointer;
}
.works-card p:last-of-type:hover {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    text-decoration-color: #4CAF50;
}
.works-card h4 {
    position: absolute;
    top: 43%;
    right: 1%;
    font-family: Oswald;
    font-size: 48px;
    font-weight: 300;
    /* line-height: 71px; */
    letter-spacing: 3px;
    text-align: left;
    color: rgba(37, 37, 37, 1);
    /* cursor: pointer; */   
}
.active-works {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #4CAF50;
}
.kitten-works {
    background-image: url(../assets/kitten.svg);
}
.apples-works {
    background-image: url(../assets/keyboard.svg);
}
.years-works {
    background-image: url(../assets/camera.svg);
}
.mac-works {
    background-image: url(../assets/computer.svg);
}
.right-column > h4 {
    top: 43%;
    left: 0;
} 
.right-column {
    background-position-x: 72%;
    background-position-y: -2%;
}
#section-5 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: rgba(251, 251, 251, 1);
    padding: 7%;
}
.team-5-header {
    position: relative;
    width: fit-content;
    margin-bottom: 7%;
}
.team-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;  
}
.team-box {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 400px;
    justify-content: flex-end;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6%;    
}
.white-box {
    width: 100%;
    height: 20%;
    opacity: 0.8;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    transition: all 0.25s;
}
.white-box h4,
.white-box p {
    margin: auto;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.15px;
    color: rgba(37, 37, 37, 1);
}
.first-team-box {
    background-image: url(../assets/avatar-tom.svg);
}
.second-team-box {
    background-image: url(../assets/avatar-mich.svg);
}
.third-team-box {
    background-image: url(../assets/avatar-tim.svg);
}
.active-white-box {
    height: 40%;   
}
.team-box p {
    visibility: hidden;
}
.active-white-box p {
    visibility: visible;
}
#section-6 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 38vh;
    width: 100%;
    position: relative;   
}
.work-together-container,
.contact-us-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.work-together-container {
    background-color: white;
}
.contact-us-container {
    background-color: rgba(112, 189, 89, 1);
}
.work-together-container img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.work-together-container > img:hover {
    border-bottom: 2px solid #4CAF50;
}
.contact-us-container img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.contact-us-container img:hover {
    border-bottom: 2px solid rgba(251, 251, 251, 1);
}
.work-together-container h2,
.contact-us-container h2 {
    font-family: Oswald;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2.6px;
    text-align: center;
    color: rgba(55, 55, 55, 1);
}
.contact-us-container h2 {
    color: white;
}
.work-together-container p,
.contact-us-container p {
    font-family: OpenSans;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-align: center;
    color: rgba(55, 55, 55, 1);
}
.contact-us-container p {
    color: rgba(255, 255, 255, 1);
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    background-color: rgba(46, 46, 46, 1);
    padding: 5% 0;
    /* width: 100vw; */
    cursor: url('../assets/cursor-light.png'),auto;
}
footer p {
    font-family: Oswald;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: rgba(255, 255, 255, 1);
    opacity: 50%;
}
.social-icons {
    display: flex;
    gap: 21px;
}
.social-icons img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    cursor: pointer;
}
.message-block {
    background-color: #504E4E;
    padding: 40px 0;
    position: relative;
}
form { 
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}
.main-btn {
    display: block;
    width: max-content;
    padding: 6px 12px;
    font-weight: 600;
    border: 0;
    text-decoration: none;
    transition: all 0.25s;
    cursor: pointer;
    background: #cbc6c6;
    color: black;
    margin: 0 auto;
    font-family: OpenSans;
    font-size: 13px;
    opacity: 0.8;
}
.main-btn:hover {
    background: rgba(112, 189, 89, 1);
}
.message-block-title span {
    font-size: 48px;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Oswald;
    opacity: 50%;
    color: #fff;
    font-style: normal;
    letter-spacing: 2.3px;
}
.message-block-title {
    display: flex;
    justify-content: center;
}
.form-message {
    margin-bottom: 20px;
}
.form-message label {
    font-family: OpenSans;
    letter-spacing: 3px;
    display: block;
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
    opacity: 50%;
}
input, textarea {
    width: 100%;
    max-width: 100%;
    padding: 6px 12px;
    outline: none;
    border: 1px solid rgb(48, 51, 54);
    font-family: OpenSans;
    font-weight: 500;
}
.error-phone,
.error-name,
.error-message {
    font-family: OpenSans;
    letter-spacing: 3px;
    display: block;
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
    /* opacity: 0; */
}
.message-sent {
    text-align: -webkit-center;
    font-family: OpenSans;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 69%;
    left: 28%;
    width: 44%;
    height: 12%;
    background-color: rgba(112, 189, 89, 1);
    color: white;
    transition: opacity 1s ease-in-out;
    padding: 4%;
    opacity: 0;
}
.error-style {
    background-color: #f0b475;
}
.invalid {
    display: none;
}
@media (max-width: 1498px) {
    #section-1 {
        height: 68vh;
        
    }
    #section-2 {
        margin-bottom: unset;
        width: 77%;
    }
    .works-container {
        margin: 14% 14% 0 14%;
        width: unset;
    }
    .header h1 {
        font-size: 87px;
    }
    .services-header h2, .works-4-header h2, .team-5-header h2  {
        padding-left: unset;
    }
    .underline-header {
        left: unset;
    }
    .works-card h4 {
        right: 16%;
    }
    .works-card h5 {
        line-height: unset;
    }
    .works-card p:last-of-type {
        line-height: unset;
    }
    #section-5 {
        padding: 6% 12%;
    }
}
@media (max-width: 1281px) {
    #section-1 {
        height: 85vh;
    }
    .works-container {
        margin: 4% 6% 0 14%;
        width: unset;
    }
}
@media (max-width: 1267px) {
    .works-container {
        margin: unset;
        margin: 6% auto 0;
    }
}
@media (max-width: 1264px) {
    .works-4-left-box, .works-4-right-box {
        gap: 24px;
        width: 480px;
    }
}
@media (max-width: 1024px) {
    
    .right-column > h4 {
        left: 9%;
    }
    .works-card h4 {
        right: 20%;
    }
    .works-4-left-box, .works-4-right-box {
        gap: 20px;
        width: 462px;
    }
    .header h1 {
        font-size: 56px;
    }
    .header p {
        font-size: 16px;
    }
    #section-2 {
        width: 107%;
        height: 63vh;
    }
    .works-4-header  {
        /* padding-left: 23px; */
    }
    .works-menu p {
        font-size: 12px;
    }
    .underline-header {
        left: unset
    }
    .services-header h2, .works-4-header h2, .team-5-header h2 {
        padding-left: unset;
    }
    .works-card h5 {
        line-height: unset;
    }
    .works-card p:last-of-type {
        line-height: unset;
    }
    .team-5-header {
        width: 39%;
    }
    .works-4-header-box {
        margin-bottom: 9%;
    }
}
@media (max-width: 769px) {
    ul {
        width: 70%;
    }
    .services-header h2, .works-4-header h2,
    .team-5-header h2  {
        font-size: 56px;
        font-weight: 500;
    }
    .works-4-header h2 {
        width: 242px;
        letter-spacing: unset;
    }
    .works-4-header-box {
        margin-bottom: unset;
    }
    .works-card h5 {
        font-size: 16px;
    }

    .works-card p:last-of-type  {
        font-size: 11px;
    }
    .works-menu {
        gap: 26px;
    }
    .works-menu p {
        font-size: 11px;
    }
    .works-card {
        width: unset;
        height: 521px;
    }
    .works-card h4  {
        right: 17%;
        font-size: 42px;
    }
    .right-column > h4  {
        left: 4%
    }
    #section-1 {
        height: 58vh;
        
    }
    .header h1 {
        font-size: 34px;
    }
    .header p {
        font-size: 8px;
    }
    #section-2 {
        width: 100%;
    }
    .services-card {
        width: 40%;
    }
    #section-4 {
        padding-left: 16%;
    }
    .team-box {
        width: 317px;
        height: 339px;
    }
    .message-block-title span {
        font-size: 43px;
    }
}
@media (max-width: 431px) {
    ul {
        width: 93%;
    }
    #section-1 {
        height: 38vh;
        background-size: cover;
    }
    .green-box {
        top: -1%;
        left: 21%;
        width: 37%;
        height: 65%;
    }
    .about-us-background {
        top: 48%;
        left: 30%;
        width: 43%;
        height: 61%;
    }
    .services-card {
        width: 84%;
    }
    .works-menu {
        gap: 20px;
        justify-content: unset;
        /* padding-left: unset; */
        flex-wrap: wrap;
    }
    #section-4 {
        padding-left: 10%;
    }
    #section-6 {
        height: 30vh;
    }
    .message-block-title span {
        font-size: 27px;
    }
    input, textarea {
        width: 81%;
    }
    
}
@media (max-width: 426px) {
    
    .services-header h2, .works-4-header h2 {
        font-size: 34px;
    }
    ul {
        width: 100%;
    }
    .works-card {
        background-position-x: 66%;
    }
    .works-card h4 {
        left: 6%;
        right: unset
    }
    .works-card-description {
        padding-right: 45%;
    }
    .underline-header {
        bottom: 4px;
    }
    .work-together-container h2, .contact-us-container h2  {
        font-size: 12px;
    }
    .work-together-container p, .contact-us-container p  {
        font-size: 10px;
    }
    .works-menu p {
        font-size: 10px;
    }
    .work-together-container, .contact-us-container {
        gap: unset
    }
    .works-4-header-box {
        gap: 31px;
        margin-bottom: 4%;
    }
    .works-card {
        height: 258px;
        background-size: 63%;
    }
    .works-card h4 {
        right: 11%;
        font-size: 23px;
        line-height: unset;
        top: 33%;
    }
    .works-card h5  {
        font-size: 9px;
        line-height: unset;
    }
    .works-card p:first-of-type {
        font-size: 7px;
        line-height: unset;
    }
    .works-card p:last-of-type {
        font-size: 8px;
        line-height: unset;
    }
    #section-1 {
        background-size: 253%;
        background-position-x: 67%;
        background-position-y: 9%;
        width: 114%;
        height: 100vh;
        background-image: linear-gradient(91deg, rgba(0, 0, 0, 1) 22%, rgba(241, 235, 235, 0.02) 71%), url(../assets/welcome-image.svg);
    }
    .header h1 {
        font-size: 40px;
        /* text-align: center; */
        padding-right: 9%;
    }
    .pagination  {
        margin-right: 5%;
    }
    .team-5-header {
        width: unset;
    }
    .team-5-header h2 {
        font-size: 42px;
    }
    .header p {
        /* text-align: center; */
        font-size: 16px;
        padding-right: 14%;
        text-wrap: wrap;
    }
    .works-menu {
        gap: 14px;
    }
    .error-phone, .error-name, .error-message {
        letter-spacing: unset;
        margin-bottom: unset;
        font-size: 12px;
    }
    form {
        padding-left: 10%;
    }
    .main-btn  {
        margin: unset
    }
    .green-box {
        position: absolute;
        top: 27%;
        left: 17%;
        width: 90%;
        height: 51%;
    }
    .works-4-header h2 {
        width: 200px;
    }
    #section-2 {
        height: 100vh;
    }
    .about-us-background {
        top: 42%;
        left: 0%;
        width: 68%;
        height: 60%;
        background-size: 84%;
    }
    .services-card {
        width: 92%;
    }
    #section-4 {
        padding-left: 5%;
    }
    #section-6 {
        width: unset;
    }
    .message-block-title span {
        font-size: 29px;
    }
    input, textarea {
        width: 75%;
    }
    .message-block-title {
        margin-bottom: 25px;
    }
    footer p {
        font-size: 9px;
    }
    .social-icons img {
        width: 25px;
        height: 25px;
    }
    
}
@media (max-width: 376px) {
    .header h1 {
        font-size: 34px;
    }
    .services-card {
        margin-top: 9%;
    }
    .works-4-header-box {
        padding-left: 10%;
    }
    .works-menu {
        gap: 11px;
        flex-wrap: wrap;
        justify-content: unset;
        padding-left: unset;
    }
    .works-4-header h2 {
        width: 100%;
    }
    .works-4-header h2 {
        width: 166px;
    }
    .message-block-title span {
        font-size: 21px;
    }
    .form-message label {
        font-weight: unset; 
        margin-bottom: unset;
    }
    .team-5-header {
        width: 59%;
    }
    #section-6 {
        height: 25vh;;
    }
    .work-together-container, .contact-us-container {
        gap: 11%;
    }
    .first-page-btn {
        bottom: 2%;
        left: 2%;
    }
}
@media (max-width: 321px) { 
    .team-5-header {
        width: 68%;
    }

}
body::-webkit-scrollbar {
    width: 12px;               /* ширина всей полосы прокрутки */
}
body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.44);        /* цвет зоны отслеживания */
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(112, 189, 89, 1);    /* цвет бегунка */
    /* border-radius: 20px;       округлось бегунка */
    /* border: 3px solid rgb(196, 198, 238);  отступ вокруг бегунка */
}
